In [1]:
# Import libaries
import pandas as pd
import numpy as np

In [7]:
# Read in csv file
cleanData = pd.read_csv("clean_dataset.csv")

# Scale the "Debt" column back to its original values and cast to int
cleanData['CreditScore'] = cleanData['CreditScore'].apply(
    lambda x: round(x * (850 - 300) / (67 - 0) + 300)
).astype(int)

# Scale the "Debt" column back to its original values
cleanData['Debt'] = (cleanData['Debt'] * 1000).astype(int)

print(cleanData)

     Gender    Age   Debt  Married  BankCustomer         Industry Ethnicity  \
0         1  30.83      0        1             1      Industrials     White
1         0  58.67   4460        1             1        Materials     Black
2         0  24.50    500        1             1        Materials     Black
3         1  27.83   1540        1             1      Industrials     White
4         1  20.17   5625        1             1      Industrials     White
..      ...    ...    ...      ...           ...              ...       ...
685       1  21.08  10085        0             0        Education     Black
686       0  22.67    750        1             1           Energy     White
687       0  25.25  13500        0             0       Healthcare    Latino
688       1  17.92    205        1             1  ConsumerStaples     White
689       1  35.00   3375        1             1           Energy     Black

     YearsEmployed  PriorDefault  Employed  CreditScore  DriversLicense  \
0             1.25             1         1          308               0
1             3.04             1         1          349               0
2             1.50             1         0          300               0
3             3.75             1         1          341               1
4             1.71             1         0          300               0
..             ...           ...       ...          ...             ...
685           1.25             0         0          300               0
686           2.00             0         1          316               1
687           2.00             0         1          308               1
688           0.04             0         0          300               0
689           8.29             0         0          300               1

          Citizen  ZipCode  Income  Approved
0         ByBirth      202       0         1
1         ByBirth       43     560         1
2         ByBirth      280     824         1
3         ByBirth      100       3         1
4    ByOtherMeans      120       0         1
..            ...      ...     ...       ...
685       ByBirth      260       0         0
686       ByBirth      200     394         0
687       ByBirth      200       1         0
688       ByBirth      280     750         0
689       ByBirth        0       0         0

[690 rows x 16 columns]